<?xml version="1.0"?>
<!-- created with Phobos 1.0.1 "Capricious Choutengan" -->
  <robot name="cam1">

    <link name="Untitled.070">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.001"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="Cube.020">
        <origin xyz="0 0 -1.0" rpy="0 0 0"/>
        <geometry>
          <box size="0.04 0.04 2.0"/>
        </geometry>
        <material name="Material.043"/>
      </visual>
    </link>

    <link name="Untitled.071">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.001"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="Cube.021">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.04 1.5 0.04"/>
        </geometry>
        <material name="Material.044"/>
      </visual>
    </link>

    <link name="Untitled.072">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.001"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="Cube.022">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.1 0.1 0.04"/>
        </geometry>
        <material name="Material.045"/>
      </visual>
    </link>

    <joint name="Untitled.071" type="fixed">
      <origin xyz="0 0.74 0" rpy="0 0 0"/>
      <parent link="Untitled.070"/>
      <child link="Untitled.071"/>
    </joint>

    <joint name="Untitled.072" type="fixed">
      <origin xyz="0 0.8 0" rpy="0 0 0"/>
      <parent link="Untitled.071"/>
      <child link="Untitled.072"/>
    </joint>

    <material name="Material.043">
      <color rgba="0.64 0.64 0.64 1.0"/>
    </material>

    <material name="Material.044">
      <color rgba="0.64 0.64 0.64 1.0"/>
    </material>

    <material name="Material.045">
      <color rgba="0.16 0.16 0.16 1.0"/>
    </material>

  </robot>
